/*WARNING: If something's value isn't a variable it probably shouldnt be changed*/

/*Pages macro styling*/
$searchhighlighter: 3px solid red;


$desktoppagecontwidth: 75%;
$tabletpagecontwidth: 100%;
$mobilepagecontwidth: 100%;


$desktopchartheight: 500px;
$tabletchartheight: 550px;
$mobilechartheight: 300px;


/*Home - Coin cards styling*/
$carddisplayfont: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$carddisplaycolor: #F8F9FA;

$desktopsymbolfontsize: 1.8em;
$desktopnamefontsize: 1.05em;
$desktopcardwidth: 25%;
$desktopcardmargintop: 1em !important;
$desktopcardmarginbottom: 1em !important;


$tabletsymbolfontsize: 1.8em;
$tabletnamefontsize: 0.9em;
$tabletcardwidth: 25%;
$tabletcardmargintop: 1em !important;
$tabletcardmarginbottom: 1em !important;

$mobilesymbolfontsize: 1.8em;
$mobilenamefontsize: 1.05em;
$mobilecardwidth: 100%;
$mobilecardmargintop: 2em !important;
$mobilecardmarginbottom: 2em !important;

/*Modal styling*/
$desktopmodalcoinwidth: 15%;

$tabletmodalcoinwidth: 15%;

$mobilemodalcoinwidth: 26%;


/*desktop*/
@media (min-width: 1401px){
    body, html {
        height: 100%;
    }
    .disappear{
        display: none;
    }
    .linkdisable{
        pointer-events: none;
    }
    .searchhighlight{
        border: $searchhighlighter;
    }
    
    
    .parallax {
        /* The image used */
        background-image: url('images/temporary2.jpg');
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #pagecont{
        width: $desktoppagecontwidth;
        text-align: center;
        margin-top: 7em;
    }

    #aboutcont{
        margin-top: 7em;
    }
    

    /*graph chart styling (made for responsiveness)*/
    .chartstyle{
        width: 100%;
        height: $desktopchartheight; //for tablet 550px, for mobile 300px (numbers are for on the side mode)
    }
    
    
    /*single card styling*/
    
    .coinsymbol{
        font-family: $carddisplayfont;
        color: $carddisplaycolor;
        font-size: $desktopsymbolfontsize;
        opacity: 1;
    }
    .coinname{
        font-family: $carddisplayfont;
        color: $carddisplaycolor;
        font-size: $desktopnamefontsize;
        opacity: 1;
        word-wrap: break-word;
    }
    .flexalign{
        display: flex;
        justify-content: space-between;
    }
    .makeinline{
        display: inline-block;
        width: $desktopcardwidth;
        min-height: 12em;
        max-height: 25em;
        margin-top: $desktopcardmargintop;
        margin-bottom: $desktopcardmarginbottom;
        min-width: 230px;
        opacity: 0.8;
    }
    
    /*more info styling  */
    
    .displaycurrency{
        display: block;
        opacity: 1;
        color: $carddisplaycolor;
    }
    .coinimg{
        opacity: 1;
    }
    
    
    
    /*modal coins styling */
    .modalbodycoin{
        display: inline-block;
        width: $desktopmodalcoinwidth;
        padding: 1em;
        border-radius: 6px;
    }
    
    
    

    /*About styling*/
    .slightopac{
        opacity: 0.8;
        
    }
    
    
    
    /*scrolltopbutton*/
    .scrolltopbuttonxx{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    
    
    /*Toggler CSS*/
    .switch {
        position: relative;
        display: inline-block;
        width: 3.75em;
        height: 2.125em;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.625em;
        width: 1.625em;
        left: 0.25em;
        bottom: 0.25em;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(1.625em);
        -ms-transform: translateX(1.625em);
        transform: translateX(1.625em);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 2.125em;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}


/* tablet size*/
@media (min-width: 767.99px) and (max-width: 1400px){
    body, html {
        height: 100%;
    }
    .disappear{
        display: none;
    }
    .linkdisable{
        pointer-events: none;
    }
    .searchhighlight{
        border: $searchhighlighter;
    }
    
    
    .parallax {
        /* The image used */
        background-image: url('images/temporary2.jpg');
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }



    #pagecont{
        width: $tabletpagecontwidth;
        text-align: center;
        margin-top: 7em;
    }

    #aboutcont{
        margin-top: 7em;
    }

    /*graph chart styling (made for responsiveness)*/
    .chartstyle{
        width: 100%;
        height: $tabletchartheight; //for tablet 550px, for mobile 300px (numbers are for on the side mode)
    }



    /*single card styling*/
    
    .coinsymbol{
        font-family: $carddisplayfont;
        color: $carddisplaycolor;
        font-size: $tabletsymbolfontsize;
        opacity: 1;
    }
    .coinname{
        font-family: $carddisplayfont;
        color: $carddisplaycolor;
        font-size: $tabletnamefontsize;
        opacity: 1;
        word-wrap: break-word;
    }
    .flexalign{
        display: flex;
        justify-content: space-between;
    }
    .makeinline{
        display: inline-block;
        width: $tabletcardwidth;
        min-height: 12em;
        max-height: 25em;
        margin-top: $tabletcardmargintop;
        margin-bottom: $tabletcardmarginbottom;
        min-width: 230px;
        opacity: 0.8;
    }

    /*more info styling  */
    
    .displaycurrency{
        display: block;
        opacity: 1;
        color: $carddisplaycolor;
    }
    .coinimg{
        opacity: 1;
    }


    /*modal coins styling */
    .modalbodycoin{
        display: inline-block;
        width: $tabletmodalcoinwidth;
        padding: 1em;
        border-radius: 6px;
    }


    /*About styling*/
    .slightopac{
        opacity: 0.8;
    }

    /*scrolltopbutton*/
    .scrolltopbuttonxx{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }



        /*Toggler CSS*/
    .switch {
        position: relative;
        display: inline-block;
        width: 3.75em;
        height: 2.125em;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.625em;
        width: 1.625em;
        left: 0.25em;
        bottom: 0.25em;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(1.625em);
        -ms-transform: translateX(1.625em);
        transform: translateX(1.625em);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 2.125em;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }




}



  /*mobile size*/
  @media (max-width: 767.98px){
    body, html {
        height: 100%;
    }
    .disappear{
        display: none;
    }
    .linkdisable{
        pointer-events: none;
    }
    .searchhighlight{
        border: $searchhighlighter;
    }
    
    
    .parallax {
        /* The image used */
        background-image: url('images/temporary2.jpg');
      
        /* Full height */
        height: 100%; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    #pagecont{
        width: $mobilepagecontwidth;
        text-align: center;
        margin-top: 7em;
    }
    #aboutcont{
        margin-top: 7em;
    }


    /*graph chart styling (made for responsiveness)*/
    .chartstyle{
        width: 100%;
        height: $mobilechartheight; //for tablet 550px, for mobile 300px (numbers are for on the side mode)
    }
    




    /*single card styling*/
    
    .coinsymbol{
        font-family: $carddisplayfont;
        color: $carddisplaycolor;
        font-size: $mobilesymbolfontsize;
        opacity: 1;
    }
    .coinname{
        font-family: $carddisplayfont;
        color: $carddisplaycolor;
        font-size: $mobilenamefontsize;
        opacity: 1;
        word-wrap: break-word;
    }
    .flexalign{
        display: flex;
        justify-content: space-between;
    }
    .makeinline{
        display: block;
        width: $mobilecardwidth;
        min-height: 12em;
        max-height: 25em;
        margin-top: $mobilecardmargintop;
        margin-bottom: $mobilecardmarginbottom;
        min-width: 230px;
        opacity: 0.8;
    }

    /*more info styling  */
    
    .displaycurrency{
        display: block;
        opacity: 1;
        color: $carddisplaycolor;
    }
    .coinimg{
        opacity: 1;
    }




    /*modal coins styling */
    .modalbodycoin{
        display: inline-block;
        width: $mobilemodalcoinwidth;
        padding: 1em;
        border-radius: 6px;
    }
    
    /*About styling*/
    .slightopac{
        opacity: 0.8;
    }

    
    /*scrolltopbutton*/
    .scrolltopbuttonxx{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    

    /*Toggler CSS*/
    .switch {
        position: relative;
        display: inline-block;
        width: 3.75em;
        height: 2.125em;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.625em;
        width: 1.625em;
        left: 0.25em;
        bottom: 0.25em;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(1.625em);
        -ms-transform: translateX(1.625em);
        transform: translateX(1.625em);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 2.125em;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }


      /*bootstrap override*/
      .card{
          min-width: 20em;
      }
  }
  @media screen and (orientation:landscape){
    @media (max-width: 1000px){
        /*graph chart styling (made for responsiveness)*/
        .chartstyle{
            width: 100%;
            height: $mobilechartheight; //for tablet 550px, for mobile 300px (numbers are for on the side mode)
        }
    }
    @media(max-width: 1400){
        /*graph chart styling (made for responsiveness)*/
        .chartstyle{
            width: 100%;
            height: $tabletchartheight; //for tablet 550px, for mobile 300px (numbers are for on the side mode)
        }
    }
}



/*responsiveness for the about page*/
#wrapper {
    display: flex;
  }
  
  #div2 {
    width: 30%;
    
  }
  
  #div1 {
    width: 70%;
    
  }
  
  @media (max-width: 767px) {
    #wrapper {
      flex-direction: column;
    }
    #div1,
    #div2 {
      width: auto;
    }
  }

